<div class="container">
      <div class="btn-back">
        <a href="#!/appList" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
      </div>
      <div class="row app-row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-xs-12 text-center"><h2>Application Record Details</h2></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-2">App ID:</div>
            <div class="col-xs-6 col-md-2"><label name="appId+">{{appData.appId}}</label></div>
            <div class="col-xs-6 col-md-2">Tech Lead Name:</div>
            <div class="col-xs-6 col-md-2">{{appData.noData}}</div>
            <div class="col-xs-6 col-md-2">Month:</div>
            <div class="col-xs-6 col-md-2">November</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-2">App Name:</div>
            <div class="col-xs-6 col-md-2"><label name="appName">{{appData.appName}}</label></div>
            <div class="col-xs-6 col-md-2">D&amp;B App Owner:</div>
            <div class="col-xs-6 col-md-2">{{appData.noData}}</div>
            <div class="col-xs-6 col-md-2">Year:</div>
            <div class="col-xs-6 col-md-2">2016</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-2">App Category:</div>
            <div class="col-xs-6 col-md-2"><label name="appCategory">{{appData.appCategory}}</label></div>
            <div class="col-xs-6 col-md-2">Support Scope:</div>
            <div class="col-xs-6 col-md-2"><label name="supportScope"><b>{{appData.supportScope}}</b></label></div>
            <div class="col-xs-6 col-md-2">Quarter:</div>
            <div class="col-xs-6 col-md-2">IV</div>
          </div>
        </div>
      </div>
      <div class="row score-row">
        <div class="col-xs-12">
          <h3>Score Cards</h3>           
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="scorecard-div">
                <div class="circle {{appData.appRiskMaintColor | lowercase}}">{{appData.appRiskMaintCategory}}</div>
                <div class="score">{{appData.appRiskMaintScore}}</div>
              </div>
              <h4 class="scorecard-title">App.Maint</h4>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="scorecard-div">
                <div class="circle {{appData.appInfraRiskColor | lowercase}}">{{appData.appInfraRiskCategory}}</div>
                <div class="score">{{appData.appInfraRiskScore}}</div>
              </div>
              <h4 class="scorecard-title">Infra Risk</h4>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="scorecard-div">
                <div class="circle {{appData.appSecurityRiskColor | lowercase}}">{{appData.appSecurityRiskCategory}}</div>
                <div class="score">{{appData.appSecurityRiskScore}}</div>
              </div>
              <h4 class="scorecard-title">Security Risk</h4>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="scorecard-div">
                <div class="circle {{appData.appPeopleRiskColor | lowercase}}">{{appData.appPeopleRiskCategory}}</div>
                <div class="score">{{appData.appPeopleRiskScore}}</div>
              </div>
              <h4 class="scorecard-title">People Risk</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row tab-row"><form id="riskScoreform">
      <div class="recalscore-btn"><button class="btn btn-recalscore" ng-click="reCalculateRiskScore();">Calculate</button></div>
      <uib-tabset active="active">
        <uib-tab index="0" heading="App. Maint">
            <div class="tab-table yellow">
              <p class="tab-title">Application Stability Index</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Application Age</div>
                <div class="col-xs-3">
                  <select name="ageInYears">
                    <option selected="selected">{{appData.ageInYears}}</option>
                    <option>&gt; 2 years</option>
                    <option>&gt; 5 years</option>
                    <option>&gt; 10 years</option>
                    <option>&gt; 15 years</option>
                    <option>&gt; 25 years</option>
                  </select>
                </div>
                
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Releases/UBR</div>
                <div class="col-xs-3"><input name="noReleaseUbr" id="noReleaseUbr" type="number" value="{{appData.noReleaseUbr}}"></div>
                <div class="col-xs-3">{{appData.noReleaseUbrContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Tickets Volume</div>
                <div class="col-xs-3"><input name="noTktsVlm" type="number" id="noTktsVlm" value="{{appData.noTktsVlm}}"></div>
                <div class="col-xs-3">{{appData.noTktsVlmContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Sev1Sev2</div>
                <div class="col-xs-3"><input name="noSev1Sev2" type="number" id="noSev1Sev2" value="{{appData.noSev1Sev2}}"></div>
                <div class="col-xs-3">{{appData.noSev1Sev2Contrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Incident Tickets</div>
                <div class="col-xs-3"><input name="noIncTkt" id="noIncTkt" type="number" value="{{appData.noIncTkt}}"></div>
                
              </div>
              <div class="row">
                <div class="col-xs-6">No. Of SRT"s Issue Bridges directly attributed to Application</div>
                <div class="col-xs-3"><input name="noSrtCount" type="number" id="noSrtCount" value="{{appData.noSrtCount}}"></div>
                <div class="col-xs-3">{{appData.noSrtCountContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">No. of Tickets resolved with Vendor support (3rd Party like Axway etc)</div>
                <div class="col-xs-3">
                  <select name="noTktRslvVendor" id="noTktRslvVendor">
                    <option selected="selected">{{appData.noTktRslvVendor}}</option>
                    <option>No</option>
                    <option>Medium &lt; 5 Tickets/Year</option>
                    <option>High &gt; 5 Tickets/Year</option>
                  </select>
                </div>
                <div class="col-xs-3">{{appData.noTktRslvVendorContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Manual Intervention/Production Support in Effort/Day</div>
                <div class="col-xs-3">
                  <select name="manualIntervension" id="manualIntervension">
                    <option selected="selected">{{appData.manualIntervension}}</option>
                    <option>Low &lt; 2 Hours/Day</option>
                    <option>Medium &lt;4 Hours/Day</option>
                    <option>High &gt;4 Hours/Day</option>
                  </select>
                </div>
                <div class="col-xs-3">{{appData.manualIntervensionContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Out of Office Hour callouts (2015)</div>
                <div class="col-xs-3"><input name="noOutofoffCallouts" type="number" id="noOutofoffCallouts" value="{{appData.noOutofoffCallouts}}"></div>
                
              </div>
            </div>
            <div class="tab-table yellow">
              <p class="tab-title">Application Complexity Index</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Number of Interfacing applications</div>
                <div class="col-xs-3"><input name="noInterfacApp" id="noInterfacApp" type="number" value="{{appData.noInterfacApp}}"></div>
                <div class="col-xs-3">{{appData.noInterfacAppContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Data Volume /Transaction per day</div>
                <div class="col-xs-3">
                  <select name="dataVolumeDay" id="dataVolumeDay">
                    <option selected="selected">{{appData.dataVolumeDay}}</option>
                    <option>Low &lt; 50K Txns</option>
                    <option>Medium &gt; 50K Txns to 1 Mn Txns</option>
                    <option>High &gt;1M Txns</option>
                  </select></div>                                   
                <div class="col-xs-3">{{appData.dataVolumeDayContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Technology and Support Availability</div>
                <div class="col-xs-3">
                  <select name="techSuprtAvlbt" id="techSuprtAvlbt">
                    <option selected="selected">{{appData.techSuprtAvlbt}}</option>
                    <option>Web &amp; Support Available</option>
                    <option>Web &amp; Support Unavailable</option>
                    <option>Legacy &amp; Support Available</option>
                    <option>Legacy &amp; Support Unavailable</option>
                    <option>Niche &amp; Support Available</option>
                    <option>Niche &amp; Support Unavailable</option>
                  </select>
                </div>
                <div class="col-xs-3">{{appData.techSuprtAvlbtContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Code Availability</div>
                <div class="col-xs-3">
                  <select name="codeAvlbt" id="codeAvlbt">
                    <option selected="selected">{{appData.codeAvlbt}}</option>
                    <option>Partial</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="col-xs-3">{{appData.codeAvlbtContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">% Increase in data volume/Year</div>
                <div class="col-xs-3"><select name="increaDataVlmYr" id="increaDataVlmYr"><option selected="selected">{{appData.increaDataVlmYr}}</option><option>Low &lt; 3%</option><option>Medium 3% to 8%</option><option>High &gt; 8%</option></select></div>
                <div class="col-xs-3">{{appData.increaDataVlmYrContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Regulatory Compliance</div>
                <div class="col-xs-3"><select name="regCompliance" id="regCompliance"><option selected="selected">{{appData.regCompliance}}</option><option>Yes</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.regComplianceContrb}}</div>
              </div>
            </div>
            <div class="tab-table yellow">
              <p class="tab-title">Impact and Recovery Index</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Revenue Impact</div>
                <div class="col-xs-3"><select name="revImpact" id="revImpact"><option selected="selected">{{appData.revImpact}}</option><option>Direct &amp; Immediate Revenue Impact</option><option>Indirect Revenue Impact</option><option>No Revenue Impact</option></select></div>
                <div class="col-xs-3">{{appData.revImpactContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Impact to Customer</div>
                <div class="col-xs-3"><select name="impatcToCustomer" id="impatcToCustomer"><option selected="selected">{{appData.impatcToCustomer}}</option><option>High &gt; 50 Users</option><option>Medium - 10 to 50 users</option><option>Low &lt; 10 users</option></select></div>
                <div class="col-xs-3">{{appData.impatcToCustomerContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Recovery Duration (App./SW/Infra.)</div>
                <div class="col-xs-3"><select name="recoveryDuration" id="recoveryDuration"><option selected="selected">{{appData.recoveryDuration}}</option><option>4 to 12 Hours</option><option>12 Hours to 1 Day</option><option>&gt; 1 Day</option></select></div>
                <div class="col-xs-3">{{appData.recoveryDurationContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Impact to Upstream / Downstream Apps</div>
                <div class="col-xs-3"><select name="impactUpDnStream" id="impactUpDnStream"><option selected="selected">{{appData.impactUpDnStream}}</option><option>&gt; 5 systems</option><option>&lt; 5 systems</option></select></div>
                
              </div>
              <div class="row">
                <div class="col-xs-6">Impact to Brand Image</div>
                <div class="col-xs-3"><select name="impactBrandImg" id="impactBrandImg"><option selected="selected">{{appData.impactBrandImg}}</option><option>Yes</option><option>No</option></select></div>
                
              </div>
            </div>
            <div class="legend-row">
                Legend: 
                 <span class="legend-tab">&gt;= 0 <span class="green">A</span> &lt; 3</span>
                 <span class="legend-tab">&gt;= 3 <span class="yellow">B</span> &lt; 4</span>
                 <span class="legend-tab">&gt;= 4 <span class="yellow">C</span> &lt; 5</span>
                 <span class="legend-tab">&gt;= 5 <span class="red">D</span> &lt;= 10</span>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Infra">
            <div class="tab-table blue">
              <p class="tab-title">Infra. Risk</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Application Performance SLA</div>
                <div class="col-xs-3"><select name="appPerfSla" id="appPerfSla"><option selected="selected">{{appData.appPerfSla}}</option><option>Above defined SLA</option><option>Below SLA</option><option>Met SLA</option></select></div>
                <div class="col-xs-3">{{appData.appPerfSlaContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Scalability/Capacity Related Issues</div>
                <div class="col-xs-3"><select name="scalability" id="scalability"><option selected="selected">{{appData.scalability}}</option><option>Yes</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.scalabilityContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Obsolete Infrastructure</div>
                <div class="col-xs-3"><select name="obsoleteInfra" id="obsoleteInfra"><option selected="selected">{{appData.obsoleteInfra}}</option><option>Yes</option><option>No</option><option>Partial</option></select></div>
                <div class="col-xs-3">{{appData.obsoleteInfraContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">DR Environment Availability</div>
                <div class="col-xs-3"><select name="drEnvAvlbt" id="drEnvAvlbt"><option selected="selected">{{appData.drEnvAvlbt}}</option><option>Yes</option><option>No</option><option>Partial</option></select></div>
                <div class="col-xs-3">{{appData.drEnvAvlbtContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Network / Infrastructure issues per month</div>
                <div class="col-xs-3"><select name="nwInfraIssuePm" id="nwInfraIssuePm"><option selected="selected">{{appData.nwInfraIssuePm}}</option><option>&gt; 5</option><option>&gt; 2 and &lt; 5</option><option>&lt; 2</option></select></div>
                <div class="col-xs-3">{{appData.nwInfraIssuePmContrb}}</div>
              </div>
            </div>
            <div class="legend-row">
                Legend: 
                <span class="legend-tab">&gt;= 0 <span class="green">A</span> &lt; 2</span>
                <span class="legend-tab">&gt;= 2 <span class="yellow">B</span> &lt; 6</span>
                <span class="legend-tab">&gt;= 6 <span class="red">D</span> &lt;= 10</span>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Security">
            <div class="tab-table blue">
              <p class="tab-title">Security. Risk</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Security Vulnerability (Code)</div>
                <div class="col-xs-3"><select name="secVlnbtyCode" id="secVlnbtyCode"><option selected="selected">{{appData.secVlnbtyCode}}</option><option>Yes - High Priority issues</option><option>Yes - Medium/Low Priority issues</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.secVlnbtyCodeContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Security Vulnerability (Infra)</div>
                <div class="col-xs-3"><select name="secVlnbtyInfra" id="secVlnbtyInfra"><option selected="selected">{{appData.secVlnbtyInfra}}</option><option>Yes - High Priority issues</option><option>Yes - Medium/Low Priority issues</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.secVlnbtyInfraContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Compliance Related Vulnerabilities</div>
                <div class="col-xs-3"><select name="compVlnblts" id="compVlnblts"><option selected="selected">{{appData.compVlnblts}}</option><option>Yes - High Priority issues</option><option>Yes - Medium/Low Priority issues</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.compVlnbltsContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Conf. Mgmt Availability</div>
                <div class="col-xs-3"><select name="confMgtVlnbty" id="confMgtVlnbty"><option selected="selected">{{appData.confMgtVlnbty}}</option><option>Yes</option><option>No</option><option>Partial</option></select></div>
                
              </div>
            </div>
            <div class="legend-row">
                Legend: 
                <span class="legend-tab">&gt;= 0 <span class="green">A</span> &lt; 2</span>
                <span class="legend-tab">&gt;= 2 <span class="yellow">B</span> &lt; 4</span>
                <span class="legend-tab">&gt;= 4 <span class="red">D</span> &lt;= 10</span>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="People">
            <div class="tab-table blue">
              <p class="tab-title">People. Risk</p>
              <div class="row tab-header">
                <div class="col-xs-6">Parameter Name</div>
                <div class="col-xs-3">Value</div>
                <div class="col-xs-3">Risk Contribution %</div>
              </div>
              <div class="row">
                <div class="col-xs-6">SME Availability</div>
                <div class="col-xs-3"><select name="smeAvlbt"><option selected="selected">{{appData.smeAvlbt}}</option><option>Yes - 1 SME</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.smeAvlbtContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Vendor Expertise(Cognizant Availability)</div>
                <div class="col-xs-3"><select name="vendorExptCts"><option selected="selected">{{appData.vendorExptCts}}</option><option>Yes</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.vendorExptCtsContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Vendor Expertise(Ensono Availability)</div>
                <div class="col-xs-3"><select name="vendorExptEnsono"><option selected="selected">{{appData.vendorExptEnsono}}</option><option>Yes</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.vendorExptEnsonoContrb}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6">Availability Business Users</div>
                <div class="col-xs-3"><select name="avlbtBizUsers"><option selected="selected">{{appData.avlbtBizUsers}}</option><option>Yes</option><option>No</option></select></div>
                <div class="col-xs-3">{{appData.avlbtBizUsersContrb}}</div>
              </div>
            </div>
            <div class="legend-row">
                Legend:
                <span class="legend-tab">&gt;= 0 <span class="green">A</span> &lt; 2</span>
                <span class="legend-tab"> &gt;= 2 <span class="yellow">B</span> &lt; 5</span>
                <span class="legend-tab">&gt;= 5 <span class="yellow">C</span> &lt; 8</span>
                <span class="legend-tab">&gt;= 8 <span class="red">D</span>  &lt;= 10</span>
            </div>
        </uib-tab>
      </uib-tabset>
      </form></div> 
    </div>